<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">داشبورد</h1>
</div>

<% if(blogs.length > 0) {%>
  <h2>آخرین پست ها</h2>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-striped table-sm">
    <thead>
      <tr>
        <th>#</th>
        <th>عنوان</th>
        <th>وضعیت</th>
        <th>تاریخ ساخت</th>
        <th>عملیات</th>
      </tr>
    </thead>
    <tbody>
      <% let num = 0; %> 
     <% for(const blog of blogs){ %>
      <% num++ %> 
      <tr>
        <td><%= num %> </td>
        <td>
          <a href="/blogs/<%= blog.id %> " target="_blank"><%= blog.title %> </a>
        </td>
        <td>
          <span class="badge <%= blog.status === 'عمومی' ? 'badge-success':'badge-warning' %> ">
            <%= blog.status %>
          </span>
        </td>
        <td><%= formatDate(blog.createdAt) %> </td>
        <td>
          <a href="/dashboard/edit-post/<%= blog.id %>" class="btn btn-primary btn-sm">ویرایش</a> |
          <a href="#" onclick="confirm('از حذف این پست مطمئن هستید؟') ? location.replace('/dashboard/delete-post/<%= blog.id %>') : ''" class="btn btn-danger btn-sm">حذف</a> 
        </td>
      </tr>
      <% } %> 
    </tbody>
  </table>
</div>
<% } else { %> 
  <div class="alert alert-warning text-center">
    <h5>پستی تا حالا ثبت نکردی!</h5>
  </div>
<% } %> 
