<h3 class="mt-2 text-center">ساخت پست جدید</h3>
<div class="d-flex align-items-center justify-content-center">
    <form action="/dashboard/add-post" method="POST" autocomplete="on" enctype="multipart/form-data">
        <div class="form-group">
            <label for="title">عنوان پست</label>
            <input
                type="text"
                class="form-control w-50"
                name="title"
                id="title"
            />
            <small id="title" class="form-text text-danger text-left"><%= errors.find(e=> e.name === 'title') ? errors.find(e=>e.name === 'title').message: '' %> </small>
        </div>

        <div class="form-group">
            <label for="image">عکس پست</label>
           <div class="custom-file">
               <input
                   type="file"
                   name="image"
                   id="image"
                   class="custom-file-input" 
               />
            <label for="image" class="custom-file-label">عکس پست را انتخاب کنید</label>
            <small id="image" class="form-text text-danger text-left"><%= errors.find(e=> e.name === 'image.name' || e.name === 'image.size' || e.name === 'image.mimetype') ? errors.find(e=> e.name === 'image.name' || e.name === 'image.size' || e.name === 'image.mimetype').message: '' %> </small>
           </div>
           <div class="my-2">
            <img src="" id="imagePreview" class="imagePreview">
           </div>
        </div>

        <div class="form-group">
            <label for="status">وضعیت پست</label>
            <select name="status" class="form-control w-25" id="status">
                <option value="عمومی" selected>عمومی</option>
                <option value="خصوصی">خصوصی</option>
            </select>
            <small id="status" class="form-text text-danger text-left"><%= errors.find(e=> e.name === 'status') ? errors.find(e=>e.name === 'status').message: '' %> </small>
        </div>

        <div class="form-group">
            <label for="shortDescription">توضیحات کوتاه پست</label>
            <textarea name="shortDescription" class="form-control" id="shortDescription" rows="3"></textarea>
            <small id="shortDescription" class="form-text text-danger text-left"><%= errors.find(e=> e.name === 'shortDescription') ? errors.find(e=>e.name === 'shortDescription').message: '' %> </small>
        </div>

    

      <div class="form-group">
        <div class="input-group">
            <div class="input-group-prepend">
                <button class="btn btn-outline-primary btn-sm" type="button" id="btnUpload">آپلود عکس</button>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputUpload">
                <label for="inputUpload" class="custom-file-label" id="imageStatus">
                    عکس مورد نظر را انتخاب کنید
                </label>
            </div>
        </div>      
      </div>
      <div class="form-group" id="progressDiv" style="display: none;">
        <div class="progress">
            <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 0%;" aria-valuemin="0" aria-valuemax="100">0%</div>
          </div>
      </div>

        <div class="form-group">
            <label for="body">متن پست</label>
            <textarea name="body" class="form-control" id="body"></textarea>
            <small id="body" class="form-text text-danger text-left"><%= errors.find(e=> e.name === 'body') ? errors.find(e=>e.name === 'body').message: '' %> </small>
        </div>

        <div class="row">
            <input type="submit" value="ساخت پست" class="btn btn-success m-2" />
            <a href="/dashboard" class="btn btn-warning m-2">انصراف</a>
        </div>
    </form>
</div>
<script src="//cdn.ckeditor.com/4.20.1/full/ckeditor.js"></script>
<script src="/js/post.js"></script>